$natural-screen-xs: 480px;
$natural-screen-xs-min: $natural-screen-xs;
$natural-screen-phone: $natural-screen-xs-min;

$natural-screen-sm: 768px;
$natural-screen-sm-min: $natural-screen-sm;
$natural-screen-tablet: $natural-screen-sm-min;

$natural-screen-md: 992px;
$natural-screen-md-min: $natural-screen-md;
$natural-screen-desktop: $natural-screen-md-min;

$natural-screen-lg: 1200px;
$natural-screen-lg-min: $natural-screen-lg;
$natural-screen-lg-desktop: $natural-screen-lg-min;

$natural-screen-xs-max: ($natural-screen-sm-min - 1);
$natural-screen-sm-max: ($natural-screen-md-min - 1);
$natural-screen-md-max: ($natural-screen-lg-min - 1);

/**
 Usage :

 @include lt-lg('p') {
     ...
 }
*/

// XS
@mixin xs($selector: null) {

    @if ($selector) {
        @media (max-width: $natural-screen-xs-max) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (max-width: $natural-screen-xs-max) {
            @content;
        }
    }

}

@mixin gt-xs($selector: null) {
    @if ($selector) {
        @media (min-width: $natural-screen-sm-min) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (min-width: $natural-screen-sm-min) {
            @content;
        }
    }
}

// SM
@mixin sm($selector: null) {
    @if ($selector) {
        @media (min-width: $natural-screen-sm-min) and (max-width: $natural-screen-sm-max) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (min-width: $natural-screen-sm-min) and (max-width: $natural-screen-sm-max) {
            @content;
        }
    }
}

@mixin gt-sm($selector: null) {
    @if ($selector) {
        @media (min-width: $natural-screen-md-min) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (min-width: $natural-screen-md-min) {
            @content;
        }
    }
}

// MD
@mixin md($selector: null) {

    @if ($selector) {
        @media (min-width: $natural-screen-md-min) and (max-width: $natural-screen-md-max) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (min-width: $natural-screen-md-min) and (max-width: $natural-screen-md-max) {
            @content;
        }
    }
}

@mixin lt-md($selector: null) {
    @if ($selector) {
        @media (max-width: $natural-screen-sm-max) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (max-width: $natural-screen-sm-max) {
            @content;
        }
    }
}

// LG
@mixin lg($selector: null) {
    @if ($selector) {
        @media (min-width: $natural-screen-lg-min) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (min-width: $natural-screen-lg-min) {
            @content;
        }
    }
}

@mixin lt-lg($selector: null) {
    @if ($selector) {
        @media (max-width: $natural-screen-md-max) {
            #{$selector} {
                @content;
            }
        }
    } @else {
        @media (max-width: $natural-screen-md-max) {
            @content;
        }
    }
}
