/**
* General
* ===================================================
*/
@import 'natural-framework';

$nextPrevWidth: 70px;

@include gt-xs('.natural-carousel-blur .swiper-slide-prev, .natural-carousel-blur .swiper-slide-next') {
    filter: blur(5px);
}

.swiper-cube-shadow {
    display: none !important;
}

.swiper-wrapper {
    position: absolute;
    top: 0;
}

.natural-carousel {

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center center;
    }

    &.swiper-container-horizontal {

        .swiper-button-prev,
        .swiper-button-next {
            //opacity: 0;
            width: $nextPrevWidth;
            top: 0;
            transition: all ease 400ms;
            z-index: 50;

            svg {
                position: absolute;
                width: 40px;
                top: 50%;
                left: 50%;
                margin-top: -10px;
            }
        }

        .swiper-button-prev {
            left: -$nextPrevWidth;
            svg {
                left: 13px;
                transform: rotate(-90deg);
            }
        }

        .swiper-button-next {
            right: -$nextPrevWidth;
            svg {
                left: 20px;
                transform: rotate(90deg);
            }
        }

        .natural-carousel-text-container {
            position: absolute;
            bottom: 20px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);
            overflow: hidden;
            font-size: 16px;
            line-height: 1.8em;
            transition: all ease 400ms;

            width: 50%;

            @include xs() {
                width: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding-left: $nextPrevWidth + 20;
                padding-right: $nextPrevWidth + 20;
            }

            @include gt-xs() {

                &.left-side {
                    left: 20px;
                    text-align: left;
                }

                &.right-side {
                    right: 20px;
                    text-align: right;
                }
            }

            .title {
                font-size: 38px;
                margin-bottom: 0.3em;
                line-height: 1.3em;
            }

            .desc {

            }
        }

        .swiper-pagination-bullets {
            position: relative;
            width: 31.4%;
            margin-right: auto;
            margin-left: auto;
            padding: 5px 0 15px 0;
            z-index: 51;
            font-size: 0;
            transition: width ease 400ms, margin-top ease 400ms;

            .swiper-pagination-bullet {
                position: relative;
                top: 5px;
                margin: 5px;
                width: 15px;
                height: 15px;

                transition: all ease 400ms;

                &.swiper-pagination-bullet-active {
                    .swiper-pagination-bullet-bg {
                        opacity: 1;
                        top: -20%;
                        left: -20%;
                        width: 140%;
                        height: 140%;
                        transition: all ease 400ms;
                    }
                }

                .swiper-pagination-bullet-bg {
                    position: absolute;
                    display: block;
                    overflow: hidden;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 999px;
                    background-size: 85px 85px;
                    background-position: center center;
                    transition: all ease 400ms;
                }

                .swiper-pagination-bullet-label {
                    position: absolute;
                    display: none;
                    opacity: 0;
                    left: 50%;
                    bottom: 90px;
                    width: 300px;
                    margin-left: -150px;
                    padding: 10px 20px;
                    text-align: center;
                    font-size: 16px;
                    border-radius: 999px;
                    transition: opacity ease 400ms;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }

            // swiper-pagination-bullets
            &:hover {

                width: 100%;

                & ~ .swiper-wrapper {

                    @include gt-xs() {
                        .natural-carousel-text-container {
                            bottom: 70px;
                        }
                    }
                }

                .swiper-pagination-bullet {
                    width: 70px;
                    height: 70px;
                    margin-top: 5px;
                    opacity: 1;

                    .swiper-pagination-bullet-bg {
                        opacity: 0.5;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    &.swiper-pagination-bullet-active {
                        .swiper-pagination-bullet-bg {
                            opacity: 1;
                            top: -10%;
                            left: -10%;
                            width: 120%;
                            height: 120%;
                        }
                    }

                    &:hover {

                        .swiper-pagination-bullet-bg {
                            opacity: 1;
                        }

                        .swiper-pagination-bullet-label {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }

        }

        // On carousel hover
        &:hover {
            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
            }
            .swiper-button-prev {
                left: 0
            }
            .swiper-button-next {
                right: 0;
            }

            .natural-carousel-text-container {

                @include xs() {
                    padding: 20px;
                    left:$nextPrevWidth +1;
                    right:$nextPrevWidth +1;
                }

                @include gt-xs() {
                    &.left-side {
                        left: $nextPrevWidth + 20;
                    }

                    &.right-side {
                        right: $nextPrevWidth + 20;
                    }
                }
            }
        }
    }

}
