/**
* General
* ===================================================
*/

$sliderHeight: 500;
$paginationMargin: 55;
$nextPrevWidth: 70;

.swiper-cube-shadow {
    display: none !important;
}

.swiper-container {
    height: #{$sliderHeight}px;
}

.swiper-wrapper {
    height: #{$sliderHeight - $paginationMargin}px;
}

.natural-carousel {

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center center;
    }

    &.swiper-container-horizontal {

        .swiper-button-prev,
        .swiper-button-next {
            opacity: 0;
            width: #{$nextPrevWidth}px;
            top: 0;
            height: #{$sliderHeight - $paginationMargin}px;
            transition: all ease 400ms;
            z-index: 50;

            svg {
                position: absolute;
                width: 40px;
                top: 50%;
                left: 50%;
                margin-top: -10px;
            }
        }

        .swiper-button-prev {
            left: -#{$nextPrevWidth}px;
            svg {
                left: 13px;
                transform: rotate(-90deg);
            }
        }

        .swiper-button-next {
            right: -#{$nextPrevWidth}px;
            svg {
                left: 20px;
                transform: rotate(90deg);
            }
        }

        .natural-carousel-text-container {
            position: absolute;
            bottom: 20px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.8);

            overflow: hidden;
            max-width: 50%;

            color: #444444;
            font-size: 16px;
            line-height: 1.8em;
            transition: all ease 400ms;

            &.left-side {
                left: 20px;
                text-align: left;
            }

            &.right-side {
                right: 20px;
                text-align: right;
            }

            .title {
                font-size: 38px;
                margin-bottom: 20px;
            }

            .desc {

            }
        }

        .swiper-pagination-bullets {
            bottom: 0;
            height: #{$paginationMargin}px;
            transition: all ease 400ms;
            z-index: 51;

            .swiper-pagination-bullet {
                vertical-align: top;
                position: relative;
                top: 10px;
                margin-bottom: 5px;
                width: 15px;
                height: 15px;
                transition: all ease 400ms;

                &.swiper-pagination-bullet-active {
                    top: 5px;
                    width: 25px;
                    height: 25px;
                }

                .swiper-pagination-bullet-bg {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    border-radius: 999px;
                    transition: all ease 400ms;
                    background-size: 100px 100px;
                    background-position: center center;
                }

                .swiper-pagination-bullet-label {
                    position: absolute;
                    display: none;
                    opacity: 0;
                    left: 50%;
                    bottom: 90px;
                    width: 300px;
                    margin-left: -150px;
                    padding: 10px 20px;
                    text-align: center;
                    font-size: 16px;
                    border-radius: 999px;
                    transition: opacity ease 400ms;
                    font-weight: bold;
                    letter-spacing: 1px
                }

            }

            &:hover {

                height: 115px;

                & ~ .swiper-wrapper {
                    .natural-carousel-text-container {
                        bottom: 70px;
                    }
                }

                .swiper-pagination-bullet {
                    vertical-align: top;
                    width: 70px;
                    height: 70px;
                    opacity: 1;
                    margin-top: 0;
                    margin-bottom: 0;
                    top: 25px;

                    .swiper-pagination-bullet-bg {
                        opacity: 0.5;
                    }

                    &.swiper-pagination-bullet-active {

                        top: 5px;
                        width: 100px;
                        height: 100px;

                        .swiper-pagination-bullet-bg {
                            opacity: 1;
                        }
                    }

                    &:hover {

                        .swiper-pagination-bullet-bg {
                            opacity: 1;
                        }

                        .swiper-pagination-bullet-label {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }

        }

        // On carousel hover
        &:hover {
            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
            }
            .swiper-button-prev {
                left: 0
            }
            .swiper-button-next {
                right: 0;
            }

            .natural-carousel-text-container {

                &.left-side {
                    left: #{$nextPrevWidth+20}px
                }

                &.right-side {
                    right: #{$nextPrevWidth+20}px
                }
            }
        }
    }

}
