/**
* General
* ===================================================
*/


.swiper-cube-shadow {
    display: none !important;
}

$sliderHeight: 500;
$paginationMargin: 55;

.swiper-container {
    height: #{$sliderHeight}px;
}

.swiper-wrapper {
    height: #{$sliderHeight - $paginationMargin}px;
}

.natural-carousel {

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center center;
    }

    &.swiper-container-horizontal {

        .swiper-button-prev,
        .swiper-button-next {
            opacity: 0;
            width: 70px;
            top: 0;
            height: #{$sliderHeight - $paginationMargin}px;
            transition: all ease 400ms;

            svg {
                position: absolute;
                width: 40px;
                top: 50%;
                left: 50%;
                margin-top: -10px;
            }
        }

        .swiper-button-prev {
            left: -70px;
            svg {
                left: 13px;
                transform: rotate(-90deg);
            }
        }

        .swiper-button-next {
            right: -70px;
            svg {
                left: 20px;
                transform: rotate(90deg);
            }
        }

        .swiper-pagination-bullets {
            bottom: 0;
            height:#{$paginationMargin}px;
            transition: all ease 400ms;

            .swiper-pagination-bullet {
                vertical-align:top;
                position: relative;
                top: 10px;
                margin-bottom:5px;
                width: 15px;
                height: 15px;
                transition: all ease 400ms;

                &.swiper-pagination-bullet-active {
                    top:5px;
                    width: 25px;
                    height: 25px;
                }

                .swiper-pagination-bullet-bg {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    border-radius: 999px;
                    transition: all ease 400ms;

                    span {
                        display: block;
                        position: relative;
                        left: 50%;
                        top: 50%;
                        width: 100px;
                        height: 100px;
                        margin-left: -50px;
                        margin-top: -50px;
                        background-size: cover;
                        opacity: 0.7;
                    }
                }

                .swiper-pagination-bullet-label {
                    position: absolute;
                    display: none;
                    opacity: 0;
                    left: 50%;
                    bottom: 90px;
                    width: 300px;
                    margin-left: -150px;
                    padding: 10px 20px;
                    text-align: center;
                    font-size: 16px;
                    border-radius: 999px;
                    transition: opacity ease 400ms;
                    font-weight: bold;
                    letter-spacing: 1px
                }

            }

            &:hover {

                height:115px;

                .swiper-pagination-bullet {
                    width: 70px;
                    height: 70px;
                    opacity: 1;
                    margin-top:0;
                    margin-bottom:0;
                    top:25px;

                    .swiper-pagination-bullet-bg {
                        opacity: 1;
                    }

                    &.swiper-pagination-bullet-active {

                        top:5px;
                        width: 100px;
                        height: 100px;

                        .swiper-pagination-bullet-bg {
                            span {
                                opacity: 1;
                            }
                        }
                    }

                    &:hover {

                        .swiper-pagination-bullet-bg {
                            span {
                                opacity: 1;
                            }
                        }

                        .swiper-pagination-bullet-label {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }

        }

        // On carousel hover
        &:hover {
            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
            }
            .swiper-button-prev {
                left: 0
            }
            .swiper-button-next {
                right: 0;
            }
        }
    }

}
